<div id="left-col">
  <div class="<%= 'tooltipme ' if @user == current_user %>profile-img" data-title="Change your avatar at gravatar.com">
    <a href="http://gravatar.com/emails">
      <%= image_tag gravatar_url(@user, 180) %>
    </a>
  </div>
</div>

<div id="right-col">
  <h1><%= @user.username %></h1>

  <div class="profile-contact">
    <%= link_to 'Contact', "mailto:#{@user.email}" %>
  </div>

  <% if @user.pledges.any?  %>
	  <h3><%= "#{@user.username} is working on:" %></h3>
	  <% @user.pledges.each do |pledge| %>
	    <%= render pledge.project if pledge.project.approved %>
	  <% end %>
  <% else %>
	  <h3><%= "#{@user.username} is not working on anything right now." %></h3>
  <% end %>
</div>