<%= div_for project do %>
  <div class="numbers">
    <div class="score"><%= project.votes.count %></div>
    <div class="suffix"><%= 'vote'.pluralize project.votes.count %></div>
    <div class="promote">
      <%= link_to 'Promote', promote_project_path(project),
                  :class => 'btn btn-success' +
                    (!current_user || project.promoted_by?(current_user) ? ' disabled' : ''),
                  :remote => true, :method => :post %>
    </div>
  </div>

  <div class="body">
    <h3><%= link_to project.name, project %></h3>
    <span>A <%= project.language %> project by <%= link_to project.user.username, project.user %></span>
    <div class="info">
      <%= project.description %>
    </div>

    <div class="pledges">
      <h6><%= project.pledges.count %> <%= "pledge".pluralize(project.pledges.count) %> including</h6>
      <% project.pledges.each do |pledge| %>
        <a class="pledge_<%= pledge.user_id %>" href="<%= user_path(pledge.user) %>">
          <%= image_tag gravatar_url(pledge.user, 40) %>
        </a>
      <% end %>
    </div>

  </div>
  <div class="clear"></div>
<% end %>