<%= div_for project do %>
  <div class="numbers">
    <div class="score"><%= project.votes.count + 1 %></div>
    <div class="suffix"><%= 'vote'.pluralize project.votes.count + 1 %></div>
    <div class="promote">
      <%= link_to 'Promote', promote_project_path(project),
                  :class => 'btn btn-success' + (project.promoted_by?(current_user) ? ' disabled' : ''),
                  :remote => true, :method => :post %>
    </div>
  </div>

  <div class="body">
    <h3><%= link_to project.name, project %></h3>
    <div class="info">
      <p>A <%= project.language %> project by <%= project.user.username %>.</p>
      <%= project.description %>
    </div>
  </div>
  <div class="clear"></div>
<% end %>